In [11]:
import pandas as pd

In [18]:
df = pd.read_csv('../airlines.csv')

In [21]:
carrier_column = df['carrier']

In [24]:
l = [10, 20, 30, 40, 50]

In [25]:
s = pd.Series(l)

In [26]:
s

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [28]:
s.index = ['a', 'b', 'c', 'd', 'e']

In [29]:
s

a    10
b    20
c    30
d    40
e    50
dtype: int64

In [30]:
s['d']

40

In [31]:
s.index = ['a', 'b', 'c', 'd', 'd']

In [32]:
s

a    10
b    20
c    30
d    40
d    50
dtype: int64

In [33]:
s['d']

d    40
d    50
dtype: int64

In [43]:
df

   carrier                         name
0       9E            Endeavor Air Inc.
1       AA       American Airlines Inc.
2       AS         Alaska Airlines Inc.
3       B6              JetBlue Airways
4       DL         Delta Air Lines Inc.
5       EV     ExpressJet Airlines Inc.
6       F9       Frontier Airlines Inc.
7       FL  AirTran Airways Corporation
8       HA       Hawaiian Airlines Inc.
9       MQ                    Envoy Air
10      OO        SkyWest Airlines Inc.
11      UA        United Air Lines Inc.
12      US              US Airways Inc.
13      VX               Virgin America
14      WN       Southwest Airlines Co.
15      YV           Mesa Airlines Inc.

In [49]:
df.loc[9]

carrier           MQ
name       Envoy Air
Name: 9, dtype: object

In [50]:
df = df.set_index('carrier')
df

                                name
carrier
9E                 Endeavor Air Inc.
AA            American Airlines Inc.
AS              Alaska Airlines Inc.
B6                   JetBlue Airways
DL              Delta Air Lines Inc.
EV          ExpressJet Airlines Inc.
F9            Frontier Airlines Inc.
FL       AirTran Airways Corporation
HA            Hawaiian Airlines Inc.
MQ                         Envoy Air
OO             SkyWest Airlines Inc.
UA             United Air Lines Inc.
US                   US Airways Inc.
VX                    Virgin America
WN            Southwest Airlines Co.
YV                Mesa Airlines Inc.

In [55]:
df.reset_index()

   carrier                         name
0       9E            Endeavor Air Inc.
1       AA       American Airlines Inc.
2       AS         Alaska Airlines Inc.
3       B6              JetBlue Airways
4       DL         Delta Air Lines Inc.
5       EV     ExpressJet Airlines Inc.
6       F9       Frontier Airlines Inc.
7       FL  AirTran Airways Corporation
8       HA       Hawaiian Airlines Inc.
9       MQ                    Envoy Air
10      OO        SkyWest Airlines Inc.
11      UA        United Air Lines Inc.
12      US              US Airways Inc.
13      VX               Virgin America
14      WN       Southwest Airlines Co.
15      YV           Mesa Airlines Inc.